html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #285d7c;
  font-family: "Syne Mono", monospace;
}

/* div {
  border: 1px solid red;
} */

@keyframes fadeInAnimation {
  /*for div fade-in */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#preview-frame {
  width: 250px;
  height: 250px;
}

div {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
